body {
  background-color: #70a1ff;
  font-family: sans-serif;
}

.piece {
  width: 60px;
  height: 60px;
}

.wrapper {
  margin-top: 10px;
  margin: auto;
}

.future {
  opacity: 0.3;
}

.chessboard {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  background-color: #57606f;
  padding: 2px;
  border-radius: 4px 0px 0px 4px;
  width: 480px;
  margin: auto;
}

div.chessboard div {
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
}

/* Black Squares */
div.chessboard div:nth-child(16n+2),
div.chessboard div:nth-child(16n+4),
div.chessboard div:nth-child(16n+6),
div.chessboard div:nth-child(16n+8),
div.chessboard div:nth-child(16n+9),
div.chessboard div:nth-child(16n+11),
div.chessboard div:nth-child(16n+13),
div.chessboard div:nth-child(16n+15),
div.chessboard div:nth-child(16n) {
  background-color: #57606f;
  color: #2c2c54;
}

/* White Squares */
div.chessboard div:nth-child(16n+1),
div.chessboard div:nth-child(16n+3),
div.chessboard div:nth-child(16n+5),
div.chessboard div:nth-child(16n+7),
div.chessboard div:nth-child(16n+10),
div.chessboard div:nth-child(16n+12),
div.chessboard div:nth-child(16n+14),
div.chessboard div:nth-child(16n) {
  background-color: #f1f2f6;
  color: #2c2c54;
}

.possible {
  box-shadow: inset 0 0 10px 2px #f0f,inset 0 0 5px 3px #0ff;
  z-index: 100;
}
